table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

select {
  display: inline-block;
}

input[type="radio"] {
  margin-right: 5px;
  pointer-events: all;
  opacity: 1;
}

.radio-group {
  margin-top: 5px;
  /* Adjust the margin as needed */
}
