
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s5">
                        <h3>Did you experience the following before the age of 15 years?</h3>
                        <form [formGroup]="experienceform" (ngSubmit)="onSubmit()">

                        <table border="1">
                            <thead>
                                <th>Situations</th>
                                <th>Present</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A-Poverty/severe debts of parents</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox9" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>B-Early parental loss</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox10" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>C - Extra marital affairs of parents</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox11" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>D - Broken home/single parenting</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox12" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>E - Violence</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox13" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>F - Sexuality abused by others</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox14" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>G - None</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox15" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>H - Any other</td>
                                    <td>
                                        <label>
                                            <input type="checkbox" formControlName="checkbox16" />
                                            <span></span>
                                        </label>
                                    </td>
                                </tr>



                            </tbody>

                        </table>
                        <br>
                        <button type="button" class="btn btn-custom right" (click)="resetForm()">Reset</button>
                        <button type="submit" class="btn btn-custom right">Submit</button>
                        </form>
                    </div>
                    <br><br><br><br><br><br><br><br><br>
                    <!-- <div class="col s6">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Situations</th>
                                    <th>Present</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A-Poverty/severe debts of parents</td>
                                    <td>
                                        <p *ngIf="exp.checkbox9">Yes</p>
                                        <p *ngIf="!exp.checkbox9">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>B-Early parental loss</td>
                                    <td>
                                        <p *ngIf="exp.checkbox10">Yes</p>
                                        <p *ngIf="!exp.checkbox10">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>C - Extra marital affairs of parents</td>
                                    <td>
                                        <p *ngIf="exp.checkbox11">Yes</p>
                                        <p *ngIf="!exp.checkbox11">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>D - Broken home/single parenting</td>
                                    <td>
                                        <p *ngIf="exp.checkbox12">Yes</p>
                                        <p *ngIf="!exp.checkbox12">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>E - Violence</td>
                                    <td>
                                        <p *ngIf="exp.checkbox13">Yes</p>
                                        <p *ngIf="!exp.checkbox13">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>F - Sexuality abused by others</td>
                                    <td>
                                        <p *ngIf="exp.checkbox14">Yes</p>
                                        <p *ngIf="!exp.checkbox14">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>G - None</td>
                                    <td>
                                        <p *ngIf="exp.checkbox15">Yes</p>
                                        <p *ngIf="!exp.checkbox15">No</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>H- Any other</td>
                                    <td>
                                        <p *ngIf="exp.checkbox16">Yes</p>
                                        <p *ngIf="!exp.checkbox16">No</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                          
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>