<h2>17. Sexual History</h2>
<form (ngSubmit)="onSubmit()">
  <table>
    <tbody>
      <tr>
        <td>1. Record extra-marital experiences</td>
        <td>Present</td>
        <td>Absent</td>
        <td>N.A.</td>
      </tr>
      <tr>
        <td>a. Age of partner</td>
        <td>
          <input
            type="radio"
            name="ageofpartner"
            id="agePresent"
            [(ngModel)]="age"
            value="present"
          />
        </td>
        <td>
          <input
            type="radio"
            name="ageofpartner"
            id="ageAbsent"
            [(ngModel)]="age"
            value="absent"
          />
        </td>
        <td>
          <input
            type="radio"
            name="ageofpartner"
            id="ageNA"
            [(ngModel)]="age"
            value="na"
          />
        </td>
      </tr>
      <tr>
        <td>b. Is it a sustained relationship</td>
        <td>
          <input
            type="radio"
            name="sustained"
            id="sustainedPresent"
            [(ngModel)]="sustained"
            value="present"
          />
        </td>
        <td>
          <input
            type="radio"
            name="sustained"
            id="sustainedAbsent"
            [(ngModel)]="sustained"
            value="absent"
          />
        </td>
        <td>
          <input
            type="radio"
            name="sustained"
            id="sustainedNA"
            [(ngModel)]="sustained"
            value="na"
          />
        </td>
      </tr>
      <tr>
        <td>c. For how many years have you known each other</td>
        <td>
          <input
            type="radio"
            name="eachother"
            id="eachOtherPresent"
            [(ngModel)]="eachOther"
            value="present"
          />
        </td>
        <td>
          <input
            type="radio"
            name="eachother"
            id="eachOtherAbsent"
            [(ngModel)]="eachOther"
            value="absent"
          />
        </td>
        <td>
          <input
            type="radio"
            name="eachother"
            id="eachOtherNA"
            [(ngModel)]="eachOther"
            value="na"
          />
        </td>
      </tr>
      <tr>
        <td>d. What is the living arrangement?</td>
        <td colspan="3">
          <input
            type="radio"
            name="living"
            id="livingTogether"
            [(ngModel)]="living"
            value="livingTogether"
          />
          <label for="livingTogether">Living together</label>
          <input
            type="radio"
            name="living"
            id="livingSeparately"
            [(ngModel)]="living"
            value="livingSeparately"
          />
          <label for="livingSeparately">Separately</label>
        </td>
      </tr>
      <tr>
        <td>e. Any children:</td>
        <td colspan="3">
          <label for="yesChildren">Yes:</label>
          <input
            type="radio"
            name="children"
            id="yesChildren"
            [(ngModel)]="Children"
            value="yes"
          />
          <label for="noChildren">No:</label>
          <input
            type="radio"
            name="children"
            id="noChildren"
            [(ngModel)]="Children"
            value="no"
          />
          <label for="textChildren">If yes, details:</label>
          <input
            type="text"
            name="textChildren"
            id="textChildren"
            [(ngModel)]="textChildren"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <tbody>
      <tr>
        <td>2. Have you been involved in any high-risk sexual activities?</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="highrisk"
            id="highRiskYes"
            [(ngModel)]="highRisk"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="highrisk"
            id="highRiskNo"
            [(ngModel)]="highRisk"
            value="no"
          />
        </td>
      </tr>

      <tr>
        <td rowspan="2">
          Sex with commercial sex workers if yes, did you use condoms
        </td>
        <td>Always</td>
        <td>Sometimes</td>
        <td>Never</td>
        <td>Don't Know</td>
      </tr>
      <tr>
        <td>
          <input
            type="radio"
            name="used"
            id="alwaysUsed"
            [(ngModel)]="used"
            value="Always"
          />
        </td>
        <td>
          <input
            type="radio"
            name="used"
            id="sometimesUsed"
            [(ngModel)]="used"
            value="Sometimes"
          />
        </td>
        <td>
          <input
            type="radio"
            name="used"
            id="neverUsed"
            [(ngModel)]="used"
            value="Never"
          />
        </td>
        <td>
          <input
            type="radio"
            name="used"
            id="dontknowUsed"
            [(ngModel)]="used"
            value="DontKnow"
          />
        </td>
      </tr>
      <tr>
        <td>3. Sex with casual acquaintance</td>

        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="casual"
            id="casualyes"
            [(ngModel)]="casual"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="casual"
            id="casualno"
            [(ngModel)]="casual"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="casual === 'yes'">
        <td rowspan="2">if yes, did you use condoms</td>
        <td>Always</td>
        <td>Sometimes</td>
        <td>Never</td>
        <td>Don't Know</td>
      </tr>
      <tr *ngIf="casual === 'yes'">
        <td>
          <input
            type="radio"
            name="condoms"
            id="Always"
            [(ngModel)]="condoms"
            value="Always"
          />
        </td>
        <td>
          <input
            type="radio"
            name="condoms"
            id="Sometimes"
            [(ngModel)]="condoms"
            value="Sometimes"
          />
        </td>
        <td>
          <input
            type="radio"
            name="condoms"
            id="Never"
            [(ngModel)]="condoms"
            value="Never"
          />
        </td>
        <td>
          <input
            type="radio"
            name="condoms"
            id="DontKnow"
            [(ngModel)]="condoms"
            value="DontKnow"
          />
        </td>
      </tr>
      <tr>
        <td>4. Have you been tested for HIV</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="tested"
            id="testedyes"
            [(ngModel)]="tested"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="tested"
            id="testedno"
            [(ngModel)]="tested"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="tested === 'yes'">
        <td>If yes, a. Postive/Negative</td>
        <td>Postive</td>
        <td>
          <input
            type="radio"
            name="positiveornegative"
            id="Postive"
            [(ngModel)]="positiveornegative"
            value="Postive"
          />
        </td>
        <td>Negative</td>
        <td>
          <input
            type="radio"
            name="positiveornegative"
            id="Negative"
            [(ngModel)]="positiveornegative"
            value="Negative"
          />
        </td>
      </tr>
      <tr *ngIf="tested === 'yes'">
        <td>b. Not willing to reveal</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="reveal"
            id="revealyes"
            [(ngModel)]="reveal"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="reveal"
            id="revealno"
            [(ngModel)]="reveal"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="tested === 'yes'">
        <td>c. Not collected reports</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="reports"
            id="reportsyes"
            [(ngModel)]="reports"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="reports"
            id="reportsno"
            [(ngModel)]="reports"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="tested === 'yes'">
        <td>d. Not Applicable = NA</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="notApplicable"
            id="notApplicableyes"
            [(ngModel)]="notApplicable"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="notApplicable"
            id="notApplicableno"
            [(ngModel)]="notApplicable"
            value="no"
          />
        </td>
      </tr>
      <tr>
        <td>5. At present do you have any sexual problems ?</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="sexualproblem"
            id="sexualproblemyes"
            [(ngModel)]="sexualproblem"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="sexualproblem"
            id="sexualproblemno"
            [(ngModel)]="sexualproblem"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="sexualproblem === 'yes'">
        <td>If yes, a. Reduced Libido</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="ReducedLibido"
            id="ReducedLibidoyes"
            [(ngModel)]="ReducedLibido"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="ReducedLibido"
            id="ReducedLibidomno"
            [(ngModel)]="ReducedLibido"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="sexualproblem === 'yes'">
        <td>b. Impotency</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="Impotency"
            id="Impotencyyes"
            [(ngModel)]="Impotency"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="Impotency"
            id="Impotencyno"
            [(ngModel)]="Impotency"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="sexualproblem === 'yes'">
        <td>c. Excessive sexual urge</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="sexualurge"
            id="sexualurgeyes"
            [(ngModel)]="sexualurge"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="sexualurge"
            id="sexualurgeno"
            [(ngModel)]="sexualurge"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="sexualproblem === 'yes'">
        <td>d. Complete abstinence</td>
        <td>
          <input
            type="radio"
            name="Completeabstinence"
            id="Completeabstinenceyes"
            [(ngModel)]="Completeabstinence"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="Completeabstinence"
            id="Completeabstinenceno"
            [(ngModel)]="Completeabstinence"
            value="no"
          />
        </td>
      </tr>
      <tr *ngIf="sexualproblem === 'yes'">
        <td>e. Any other</td>
        <td>Yes</td>
        <td>
          <input
            type="radio"
            name="Anyother"
            id="Anyotheryes"
            [(ngModel)]="Anyother"
            value="yes"
          />
        </td>
        <td>No</td>
        <td>
          <input
            type="radio"
            name="Anyother"
            id="Anyotherno"
            [(ngModel)]="Anyother"
            value="no"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Submit</button>
</form>
